<!-- Main Wrapper -->
<div id="wrapper">

    <div class="normalheader ">
        <div class="hpanel">

            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index.html">Dashboard</a></li>
                        <li>
                            <span>Cadastros</span>
                        </li>
                        <li class="active">
                            <span>FooTable</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Cadastros
                </h2>
                <small>Advanced interaction controls to any HTML table</small>
            </div>

            <div class="col-lg-12"> <hr> </div>
            

        </div>
    </div>

</div>

<div class="content"> 

    <div class="row">

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <a>
                                    <div class="text-center">
                                        <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png"> 
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 ">
                                <h3 class="text-center">Usuários</h3>

                                <hr>

                                <ul class="unstyled">
                                    <li>Área de Atuação</li> 
                                    <li>Atividade</li>  
                                    <li>Grupo de Classe</li>  
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>   
            
            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">
                                    <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">  
                                </div>
                            </div>
                            <div class="col-lg-6 ">

                                <h3 class="text-center">Processos</h3>

                                <hr>

                                <ul class="unstyled">
                                    <li>Níveis de Processo</li> 
                                    <li>Linhas de Negócio</li>   
                                    <li>Contas Contábeis</li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right"> 
                                <a>
                                    <div class="text-center">
                                        <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png"> 
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 ">
                                
                                <h3 class="text-center">Chat</h3>

                                <hr>

                                <ul class="unstyled">
                                    <li>Status dos Chat</li> 
                                    <li>Tipo de Procedimentoo</li>   
                                    <li>Natureza do Procedimento</li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>  

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right"> 
                                <a >
                                    <div class="text-center">
                                        <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png"> 
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 ">
                                <h3 class="text-center">Perfil de Análise</h3>

                                <hr>

                                <ul class="unstyled">
                                    <li><a ><u>Perfil de Análise</u></a></li>
                                    <li><a  ><u>Matriz</u></a>  
                                        <ul>
                                            <li>Índice Financeiro</li> 
                                        </ul>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
    
            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">
                                    <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">  
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <h3><a href="">Fator de risco</a></h3> 
                                <hr>
                                <ul class="unstyled"> 
                                    <li>Riscos  
                                        <ul>
                                            <li>Incidentes</li> 
                                            <li>Causas</li>  
                                        </ul>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>            

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">
                                    <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">   
                                </div>
                            </div>
                            <div class="col-lg-6 ">

                                <h3><a href="">Contas Contábeis</a></h3> 
                                <hr>

                                <ul class="unstyled"> 
                                    <li>Contas Contábeis</li>   
                                    <li>Unidades Organizacionais</li> 
                                    <li>...</li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 

            <div class="row"></div>

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">
                                    <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">   
                                </div>
                            </div>
                            <div class="col-lg-6 ">

                                <h3><a >Riscos</a></h3> 
                                <hr>
                                
                                <ul class="unstyled">
                                    <li><a><u>Incidentes de Riscos</u></a></li>  
                                    <li><a><u>Causas de Risco</u></a></li>
                                    <li><a><u>Plano de Ação</u></a></li>
                                    <li><a><u>Perfil de Análise</u></a>
                                        <ul>
                                            <li><a><u>Matriz</u></a></li>
                                            <li>Indices Financeiros</li>
                                        </ul>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 

            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">
                                    <a >
                                        <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">    
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 ">

                                <h3>Controle</h3>  
                                <hr>

                                <ul class="unstyled">
                                    <li>Responsáveis</li> 
                                    <li>Objetivos</li>  
                                    <li>Afirmações de Controle</li>  
                                    <li>Chat
                                        <ul>
                                            <li>Tipo de Procedimento</li>
                                            <li>Procedimento Natureza</li>
                                        </ul>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>  

            <div class="col-lg-4">
                <div class="hpanel"> 
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 border-right">
                                <div class="text-center">

                                    <a>
                                        <img alt="logo" style="width: 50%; height: 50%;" src="assets/images/default-logo.png">    
                                    </a>

                                </div>
                            </div>
                            <div class="col-lg-6 ">

                                <h3>Empresas</h3>
                                <hr>

                                <ul class="unstyled">
                                    <li>CLassificação</li> 
                                    <li>Órgao Regulador</li> 
                                    <li>Linha de Negócio</li>  
                                    <li>Acionistas
                                        <ul>
                                            <li>Tipo de Ação Societária</li>  
                                            <li>...</li>  
                                        </ul>
                                    </li>   
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
 
            
            <div class="col-lg-4">
                <div class="hpanel">
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <ul class="unstyled">

                                    <h3>Controles Internos</h3>
                                    <hr>
                                    
                                    <li>Permissões</li>  
                                    <li>Messageria
                                        <ul>
                                           <li>Templates</li>  
                                           <li>Conta de Email</li>  
                                        </ul>
                                    </li>  
                                   
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>  

    </div>

</div>

 