 
<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content small-header ">
        <div class="hpanel">
            <div class="panel-body"> 
                
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <a [routerLink]="['/mural']"> <span>Home</span></a>
                        </li> 
                        <li>
                            <a [routerLink]="['/whisper']">  <span>Whisper</span></a>
                        </li>
                        <li class="active">
                            <a [routerLink]="['/chat']"> <span>Chat</span></a>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Chat
                </h2>
                <small>Integração com API ChatGPT</small>
            </div>
        </div>
    </div>           
    
    <div>

        <div class="content">

            <div class="row projects">
                
                <div class="col-md-12">  


                    <form fxLayout="column" name="form" [formGroup]="form">

                            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
 
                            <div class="container">
                                    
                                <div> 
                                    <div class="input-group"> 
                                        <input type="text" class="form-control" placeholder="pesquisar..."> 
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-12">

                                        <div class="card chat-app">

                                            <div id="plist" class="people-list">
                                                <ul class="list-unstyled chat-list mt-2 mb-0">

                                                    <li class="clearfix {{item.active}}"  *ngFor="let item of ListBot" (click)="Talk(item)">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                                        <div class="about">
                                                            <div class="name">{{item.bot_NomeResumido}}</div>

                                                            <div class="status" *ngIf="item.botStatus.bot_Status_Nome == 'Online' ">  <i class="fa fa-circle online"></i> online  </div>
                                                            <div class="status" *ngIf="item.botStatus.bot_Status_Nome == 'Offline' "> <i class="fa fa-circle offline"></i> Offline  </div>

                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class="chat">

                                                <div class="chat-header clearfix">
                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                                            </a>
                                                            <div class="chat-about">
                                                                <h6 class="m-b-0">{{_talk.bot_Nome}}</h6>
                                                                <small>última mensagem: há 23 min.</small>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 hidden-sm text-right">
                                                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                                                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Mensagens --> 
                                                <div class="chat-history">

                                                    <ul class="m-b-0">    
                                                        
                                                        <!-- Mensagens Historico -->
                                                        <li class="clearfix" *ngFor="let message of ListMessage">

                                                            <a *ngIf="message.fl_Bot == true">
                                                                <div class="message-data">
                                                                    <span class="message-data-time">agorinha as  10:15</span>
                                                                </div>
                                                                <div class="message my-message">{{message.mensagem}}</div>
                                                            </a>

                                                            <a *ngIf="message.fl_Bot == false">
                                                                <div class="message-data text-right">
                                                                    <span class="message-data-time">10:10 AM, hoje</span>
                                                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                                                                </div>
                                                                <div class="message other-message float-right"> {{message.mensagem}}</div>
                                                            </a>


                                                        </li>
                                                        
                                                    </ul>

                                                </div> 

                                                <div class="chat-message clearfix">

                                                    <div class="input-group col-lg-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="mensagem..." required=""  formControlName="message_Usuario" (keydown.enter)="Send()" >
                                                            <span class="input-group-btn" (click)="Send()">
                                                                <button type="button" class="btn btn-default"> <i class="fa fa-send"></i> </button>
                                                            </span>
                                                        </div>                                
                                                    </div>

                                                </div>
  


                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>    
                            

 

                    </form>

                </div> 
        
            </div>
    
        </div>
 

    </div>
       
</div>
