<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a  id="sidebar" class="right-sidebar-toggle">
                <img src="assets/images/profile-default.png" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">

                <div class="dropdown">
                    <a class="dropdown-toggle  data-toggle=" dropdown>
                        <span class="font-extra-bold font-uppercase">{{usuario.usuario_Nome}} {{usuario.usuario_Sobrenome}}</span>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        <li><a >Contato</a></li>
                        <li><a  >Dados Pessoais</a></li>
                        <li><a  >Analytics</a></li>
                        <li class="divider"></li>
                        <li><a >Sair</a></li>
                    </ul>
                </div>


                <div id="sparkline1" class="small-chart m-t-sm"></div>
                <div>
                    <h6 class="font-extra-bold m-b-xs">
                        ...
                    </h6>
                </div>
            </div>
        </div>

        <ul class="nav" id="side-menu">

            <li class="active">
               <a>#</a>
            </li>

        </ul>
    </div>
</aside>
