 
<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content small-header ">
        <div class="hpanel">
            <div class="panel-body"> 
                
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <a >dashboard</a>
                        </li> 
                        <li>
                            <a>Cadastros</a>
                        </li>
                        <li class="active">
                            <span>Chat</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Decision
                </h2>
                <small>Integração com API ChatGPT</small>
            </div>
        </div>
    </div>           
    
    <div>

        <div class="content">

            <div class="row projects">
                
                <div class="col-md-12">  


                    <form fxLayout="column" name="form" [formGroup]="form">

                          
                    </form>

                </div> 
        
            </div>



<div id="container">
  <div class="caixa" draggable="true">
    <span>Página inicial</span>
    <div class="conector">
      <div class="conector-linha"></div>
      <div class="conector-ponto"></div>
    </div>
  </div>
  <div class="caixa" draggable="true">
    <span>Página de produtos</span>
    <div class="conector">
      <div class="conector-linha"></div>
      <div class="conector-ponto"></div>
    </div>
  </div>
  <div class="caixa" draggable="true">
    <span>Carrinho</span>
    <div class="conector">
      <div class="conector-linha"></div>
      <div class="conector-ponto"></div>
    </div>
  </div>
  <div class="caixa" draggable="true">
    <span>Checkout</span>
    <div class="conector">
      <div class="conector-linha"></div>
      <div class="conector-ponto"></div>
    </div>
  </div>
  <div class="conector-verticais">
    <div class="conector-vertical"></div>
    <div class="conector-vertical"></div>
    <div class="conector-vertical"></div>
  </div>
</div>


    
        </div>
 
    </div>
       
</div>
